.monument-footer {
    padding: 60px 10%;
    background-color: #121212;
}

.footer-line {
    height: 1px;
    background: linear-gradient(to right, #A67C52, transparent);
    margin-bottom: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: rgba(209, 209, 209, 0.4);
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-socials a {
    text-decoration: none;
    color: #A67C52;
    font-size: 0.7rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: opacity 0.3s;
    font-weight: 300;
}

.footer-socials a:hover {
    opacity: 0.6;
}