@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@300;400&display=swap');

body {
  margin: 0;
  background-color: #121212;
  color: #D1D1D1;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #A67C52;
  letter-spacing: 2px;
  text-transform: uppercase;
}